{
  "presets": [
    "stage-0",
    "env"
  ],
  "plugins": [
    ["transform-runtime", { "helpers": false, "polyfill": false, "regenerator": true }],
    "transform-async-to-generator",
    "add-module-exports",
    "transform-object-rest-spread"
  ],
  "sourceMaps": "both"
}
